@model APIExamples.API_Models.Weather
@{
    ViewData["Title"] = "Forecast";
}

<h1>Forecast</h1>

@for (int i = 0; i < Model.Time.StartPeriodName.Length; i++)
{
    <p>
        <h2>@Model.Time.StartPeriodName[i]</h2>
        <img src="@Model.Data.IconLink[i]" />
        @Model.Data.Temperature[i]<br />
        @Model.Data.Text[i]
    </p>
}