@using APIExamples.API_Models;
@model APIExamples.API_Models.JokeList
@{
    ViewData["Title"] = "Jokes";
}

<h1>Jokes</h1>

<h1>ListJokes</h1>
Number of Jokes Found: @Model.Value.Length

<ul>
    @foreach (JokeContent j in Model.Value)
    {
        <li>@j.Joke</li>
    }
</ul>